


.Navigationskasten {
    background-color: lightgrey;
    text-decoration:none;
    
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
  
   
}

.Navigation {
    text-decoration:none;
    color: #1a1a1a;
   display:inline-block;
    margin: auto 80px;
}

.Navigation a:hover {
    background-color:#737373;
}


.Logo {
    margin: 20px;
   font-size: 100px;
    text-align:center;
}

.Logobild {
  
}

.Überschrift {
    text-align:center;
    margin-top: 40px;
    font-size: 50px;
}


.Unterüberschrift {
    text-align:center;
    font-size: 30px;
}


.Zuständigkeit {
   margin-right: auto;
    margin-left:auto;
    font-size: 25px;
    text-align:center;
}


.Information {
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
}


.Copyright {
    text-align: center;
    color: darkgrey;
    
}

.Hauptseite {
    background-color: #e6f0ff;
    font-family: Arial , sans-serif;
}

.Youtube {
    font-size: 30px;
    text-align:center;
    text-decoration: none;
    color: black;
    border: solid grey 5px; 
    padding: 5px;
}

.Youtubetext {
    font-size: 30px;
    text-align:center;
    text-decoration: none;
    color: black;
}

.Youtubelink {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color:black;
    border: solid 5px #e6f0ff;

}


.textuebermich {
    font-size: 25px;
    margin: 20px;
}


.uebermich {
    font-family: Arial, sans-serif;
    background-color: #e6f0ff;
}


.endeuebermich{
    text-align:center;
    font-size: 25px;
    margin-top: 50px;
}


.Erreichbar {
    text-align:center;
    font-size: 30px;
}



.E-Mail {
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    color: black;
    border: solid grey 5px;
    padding: 5px;
    background-color: lightgrey;

}

.Discord {
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    color: black;
    border: solid grey 5px;
    padding: 5px;
    background-color: lightgrey;

}

.Instagram {
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    color: black;
    border: solid grey  5px;
    padding: 5px;
    background-color: lightgrey;
}

.Twitter {
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    color: black;
    border: solid grey 5px;
    padding: 5px;
    background-color: lightgrey;
}

.Snapchat {
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    color: black;
    border: solid grey 5px;
    padding: 5px;
    background-color: lightgrey;
}

.Facebook {
    text-align: center;
    font-size: 25px;
    text-decoration: none;
    color: black;
    border: solid grey 5px;
    padding: 5px;
    background-color: lightgrey;
}


.Discord_Hilfe {
    font-size: 25px;
}


.EndeKontakt {
    font-size: 25px;
}



.Kontaktseite {
    background-color: #e6f0ff;
        font-family: Arial, sans-serif;
}

.Angaben1 {
    font-size: 25px;
}


.Impressumseite {
    background-color: #e6f0ff;
font-family: Arial, sans-serif;
}

.Linkbox {
    text-align: center;

}